@charset "UTF-8";
:root {
  --content: #000;
  --lighter: #ccc;
  --light: #aaa;
  --background: #fff;
  --background-alt: #E6E6FA;
  --background-trans: rgba(230,230,250,0.86);
  --background-trans-mini: rgba(230,230,250,0.95);
  --accent: cyan;
  --accent2: white;
  color-scheme: only light;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("./josefinSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 700;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("./BodoniModa-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "Fira Mono";
  src: url("./FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background: var(--background-alt);
  font-size: 4vw;
}
@media (min-width: 400px) {
  html {
    font-size: 3.5vw;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 3vw;
  }
}
@media (min-width: 450px) {
  html {
    font-size: 2vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 110%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 130%;
  }
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "wght" 300;
  background: var(--background-alt);
}
body * {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
  font-family: inherit;
}
body span, body li, body a, body strong {
  font-size: inherit;
  line-height: inherit;
}

header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  transition: all 0.45s ease-out;
  font-variation-settings: "wght" 300;
  overflow: visible;
  width: 100%;
  text-align: center;
  margin: 5rem 0 0;
  .punctuation-opacity: 0.7;
}
header h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.36rem;
  position: relative;
  transform: scale(0.6);
  transform-origin: center top;
  pointer-events: none;
  padding: 0 5rem;
}

header h2 {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  position: relative;
  transform: scale(0.6);
  transform-origin: center top;
  pointer-events: none;
  margin-top: 1rem;
  padding: 0 5rem;
  font-family: 'Fira Mono';
}

main {
  display: flex;
  min-height: calc(100vh - 26rem);
  padding-bottom: 6rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
}

main > * {
  margin: 1rem auto;
  max-width: 80%;
} 

main label,
main h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
 /* display: grid;
  grid-template-columns: 200px 200px;*/
}

main label span {
  padding: 0.5rem;
/*  text-align: right;*/
}

main label input,
main label select,
main button  {
  border: 1px solid;
  padding: 1rem;
  background: white;
  width: 230px;
  border-radius: 5px;
}

main label input {
  margin-top: 1rem;
}

main button {
  background: var(--content);
  color: white;
  width: 120;
  cursor: pointer;
}