@charset "UTF-8";
:root {
  --content: #000;
  --lighter: #ccc;
  --light: #aaa;
  --background: #fff;
  --background-alt: #E6E6FA;
  --background-trans: rgba(230,230,250,0.86);
  --background-trans-mini: rgba(230,230,250,0.95);
  --accent: cyan;
  --accent2: white;
  color-scheme: only light;
}

@font-face {
  font-family: "Josefin Sans";
  src: url("../josefinSans-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 700;
  font-style: normal;
}
@font-face {
  font-family: "Bodoni Moda";
  src: url("../BodoniModa-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 400 900;
  font-style: normal;
}
@font-face {
  font-family: "Fira Mono";
  src: url("../FiraMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  background: var(--background-alt);
  font-size: 4vw;
}
@media (min-width: 400px) {
  html {
    font-size: 3.5vw;
  }
}
@media (min-width: 500px) {
  html {
    font-size: 3vw;
  }
}
@media (min-width: 450px) {
  html {
    font-size: 2vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 100%;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 110%;
  }
}
@media (min-width: 1600px) {
  html {
    font-size: 130%;
  }
}

body {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-family: "Josefin Sans";
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-variation-settings: "wght" 300;
  background: var(--background-alt);
}
body * {
  margin: 0;
  padding: 0;
  text-indent: 0;
  border: none;
  background: none;
  outline: none;
  list-style-type: none;
  font-family: inherit;
}
body span, body li, body a, body strong {
  font-size: inherit;
  line-height: inherit;
}

.banner {
  grid-row-start: 3;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem auto;
  max-width: 34rem;
  color: var(--content);
  font-variation-settings: "wght" 300;
  max-width: unset;
  background: var(--content);
  margin: 0;
  padding: 3rem 1.4rem;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: span 3;
}
.banner strong {
  font-variation-settings: "wght" 400;
}
.banner small {
  font-variation-settings: "wght" 300;
  font-style: normal;
}
.banner a {
  display: inline-block;
  margin: 0;
}
.banner a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
.banner a:link, .banner a:visited, .banner a:hover, .banner a:active {
  color: var(--content);
}
.banner > * {
  color: var(--background) !important;
  font-variation-settings: "wght" 250;
}
.banner > * strong {
  font-variation-settings: "wght" 350;
}
header {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  transition: all 0.45s ease-out;
  font-variation-settings: "wght" 300;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: span 3;
  overflow: visible;
  width: 100%;
  text-align: center;
  width: 21rem;
  margin: 5rem auto 0;
  .punctuation-opacity: 0.7;
}
header a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
header a:link, header a:visited, header a:hover, header a:active {
  color: var(--content);
}
header a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
header a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1rem;
  height: 0.3rem;
  background: var(--accent);
  opacity: 0.5;
  transition: opacity 0.15s;
}
header a:hover {
  font-variation-settings: "wght" 300;
}
header a:hover:before {
  opacity: 1;
}
header h1 {
  display: flex;
  flex-direction: column;
  font-size: 1.36rem;
  position: relative;
  transform: scale(0.6);
  transform-origin: center top;
  pointer-events: none;
}
header h1 > span {
  position: relative;
  z-index: 10;
}
header h1 > span:first-child {
  opacity: 0;
}
header h1 > span:nth-child(2) {
  font-variation-settings: "wght" 300;
  margin-bottom: 1rem;
}
header h1 > span.punctuation {
  font-family: "Bodoni Moda";
  color: var(--background);
  font-size: 4rem;
  line-height: 0;
  font-variation-settings: "wght" 300;
  position: absolute;
  z-index: 0;
  font-size: 6300%;
  position: absolute;
  font-variation-settings: "wght" 700;
  right: 0;
  left: -6rem;
  bottom: 27rem;
  opacity: 0.9;
  z-index: 0;
}
header h1 > span.punctuation:nth-child(4) {
  left: 4rem;
  bottom: 25rem;
}
header h1 > span.punctuation:nth-child(5) {
  color: var(--background-alt);
  opacity: 1;
  left: 1rem;
  bottom: 26rem;
}
header h1 strong {
  z-index: 10;
  position: relative;
  color: var(--content);
  transition: all 0.2s;
  letter-spacing: -0.1rem;
  color: var(--accent);
  font-size: 4rem;
  font-variation-settings: "wght" 200;
  text-shadow: -0.2rem 0.2rem 0 var(--content);
}
header p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem auto;
  max-width: 34rem;
  color: var(--content);
  font-variation-settings: "wght" 300;
  position: relative;
  z-index: 10;
}
header p strong {
  font-variation-settings: "wght" 400;
}
header p small {
  font-variation-settings: "wght" 300;
  font-style: normal;
}
header p a {
  display: inline-block;
  margin: 0;
}
header a.btn {
  background: white;
  color: black;
  border-radius: 0.6rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto 0;
  border: 1px solid var(--accent);
  transition: all 0.15s;
  position: relative;
  width: calc(100% - 2rem);
  max-width: 20rem;
  cursor: pointer !important;
}
header a.btn:hover {
  background: var(--content);
  color: white;
}
header a.btn:before {
  display: none;
}
header a.btn.btn--disabled {
  position: relative;
  pointer-events: none;
}
header a.btn.btn--disabled:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 240, 240, 0.5);
  content: "......";
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: span 3;
  display: flex;
  padding: 1.5rem 5vw 0.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2000;
  background: var(--background);
}
footer a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
footer a:link, footer a:visited, footer a:hover, footer a:active {
  color: var(--content);
}
footer a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
footer a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1rem;
  height: 0.3rem;
  background: var(--accent);
  opacity: 0.5;
  transition: opacity 0.15s;
}
footer a:hover {
  font-variation-settings: "wght" 300;
}
footer a:hover:before {
  opacity: 1;
}
footer a {
  width: auto;
  display: inline-block;
  margin-bottom: 1rem;
}
footer small {
  font-size: 0.68rem;
  line-height: 1.6;
  font-variation-settings: "wght" 300;
}
footer small strong {
  font-size: 0.8rem;
  font-variation-settings: "wght" 400;
}
footer small span {
  font-family: "Fira Mono";
  font-weight: normal !important;
  font-variation-settings: "wght" 300;
  display: block;
  margin-top: 0.6rem;
}
main {
  grid-row-start: 2;
  grid-column-start: 2;
  display: flex;
  min-height: calc(100vh - 26rem);
  padding-bottom: 6rem;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
main h3, main h4 {
  font-size: 1.36rem;
  margin: 0 1rem;
  line-height: 1.3;
  font-variation-settings: "wght" 400;
  position: relative;
}
main h3:before, main h4:before {
  content: "~";
  font-family: "Bodoni Moda";
  color: var(--background);
  font-size: 4rem;
  line-height: 0;
  font-variation-settings: "wght" 300;
  position: absolute;
  z-index: 0;
  font-size: 8rem;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  pointer-events: none;
}
main h3 > span, main h4 > span {
  position: relative;
  z-index: 1;
}
main h2, main h5, main h6 {
  font-size: 1.2rem;
  padding-top: 3rem;
  margin: 0;
  font-variation-settings: "wght" 400;
  display: flex;
  flex-direction: column;
}
main h2 small, main h5 small, main h6 small {
  font-size: 1rem;
  font-variation-settings: "wght" 300;
  line-height: 2rem;
}
main h2, main h3, main h4, main h5, main h6 {
  margin: 0 auto;
}
main p {
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem auto;
  max-width: 34rem;
  color: var(--content);
  font-variation-settings: "wght" 300;
}
main p strong {
  font-variation-settings: "wght" 400;
}
main p small {
  font-variation-settings: "wght" 300;
  font-style: normal;
}
main p a {
  display: inline-block;
  margin: 0;
}
main blockquote {
  margin: 0 1rem;
  line-height: 1.3;
  max-width: 15rem;
  padding: 2rem;
  border-radius: 0.2rem;
  margin: 0 auto;
  background: white;
  font-variation-settings: "wght" 300;
  position: relative;
}
main blockquote > span {
  position: relative;
  z-index: 1;
}
main blockquote:before, main blockquote:after {
  font-family: "Bodoni Moda";
  color: var(--background);
  font-size: 4rem;
  line-height: 0;
  font-variation-settings: "wght" 300;
  position: absolute;
  z-index: 0;
  font-size: 8rem;
  color: black;
  pointer-events: none;
}
main blockquote:before {
  content: "“";
  left: -1rem;
  top: 2.5rem;
}
main blockquote:after {
  content: "”";
  right: -0.75rem;
  bottom: -1.75rem;
}
main > ul {
  font-variation-settings: "wght" 300;
}
main > ul li {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
main > ul li h6 {
  margin: 0.6rem 0;
}
main > ul li a {
  padding-top: 0.6rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
}
main > ul li:nth-child(2) {
  border-radius: 0.6rem;
  background: white;
}
main > ul.examples {
  padding-bottom: 3rem;
}
main > ul.examples li {
  text-align: center;
  padding: 0 1rem 2rem !important;
  background: none !important;
  margin: 0 !important;
  position: relative;
}
main > ul.examples li:after {
  content: "~";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.2rem;
}
main > ul.examples li:first-child {
  padding-top: 2rem !important;
}
main > ul.examples li:first-child:before {
  content: "~";
  position: absolute;
  left: 0;
  right: 0;
  top: 0.5rem;
}
main a a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
main a a:link, main a a:visited, main a a:hover, main a a:active {
  color: var(--content);
}
main a a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
main a a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1rem;
  height: 0.3rem;
  background: var(--accent);
  opacity: 0.5;
  transition: opacity 0.15s;
}
main a a:hover {
  font-variation-settings: "wght" 300;
}
main a a:hover:before {
  opacity: 1;
}
main a.btn {
  background: white;
  color: black;
  border-radius: 0.6rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto 0;
  border: 1px solid var(--accent);
  transition: all 0.15s;
  position: relative;
  width: calc(100% - 2rem);
  max-width: 20rem;
  cursor: pointer !important;
}
main a.btn:hover {
  background: var(--content);
  color: white;
}
main a.btn:before {
  display: none;
}
main a.btn.btn--disabled {
  position: relative;
  pointer-events: none;
}
main a.btn.btn--disabled:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 240, 240, 0.5);
  content: "......";
  display: flex;
  align-items: center;
  justify-content: center;
}
main small {
  font-size: 0.68rem;
  line-height: 1.6;
  font-variation-settings: "wght" 300;
}
main hr {
  margin: 1rem;
}
main a {
  text-decoration: none;
  position: relative;
  display: block;
  transition: font-variation-settings 0.15s;
}
main a:link, main a:visited, main a:hover, main a:active {
  color: var(--content);
}
main a span {
  position: relative;
  z-index: 1;
  padding: 0 0.3rem;
}
main a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0.1rem;
  height: 0.3rem;
  background: var(--accent);
  opacity: 0.5;
  transition: opacity 0.15s;
}
main a:hover {
  font-variation-settings: "wght" 300;
}
main a:hover:before {
  opacity: 1;
}
main section#app > p {
  margin-top: 0;
  padding: 0.5rem;
  width: auto;
  border-radius: 0.2rem;
  background: transparent;
  transition: 300ms background;
}
main section#app > p.user-input {
  height: 4rem;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
  position: sticky;
  top: 0;
  z-index: 1000;
  pointer-events: none;
  background: var(--background-alt);
  outline: 2px solid var(--background-alt);
  border-bottom: 2px solid;
}
main section#app > p.user-input.user-input--2 {
  top: calc(4rem - 2px);
  height: 7rem;
  z-index: 1001;
}
main section#app > p.user-input > span {
  margin: 0 0.3rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main section#app > p.user-input > span:first-child {
  margin-right: 0;
}
main section#app > p.user-input > span:last-child {
  margin-right: 0;
}
main section#app > p.user-input > span strong {
  text-shadow: 0.05rem -0.05rem 0 white;
  min-width: 1rem;
  margin: 0 0.1rem;
}
main section#app > p.user-input > span strong:before {
  text-shadow: none;
}
main section#app > p.user-input > span strong[data-id=location]:before {
  content: "in ";
}
main section#app > p.user-input > span strong[data-id=hour]:before {
  content: "at ";
}
main section#app > p.user-input > span span,
main section#app > p.user-input > span strong:before {
  font-variation-settings: "wght" 300;
}
@media (min-width: 400px) {
  main section#app > p.user-input > span strong {
    font-size: 1.4rem;
  }
}
main section#app > p.user-input > span[data-mod=AM]:after {
  content: " AM";
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem auto;
  max-width: 34rem;
  color: var(--content);
  font-variation-settings: "wght" 300;
  text-shadow: none;
}
main section#app > p.user-input > span[data-mod=AM]:after strong {
  font-variation-settings: "wght" 400;
}
main section#app > p.user-input > span[data-mod=AM]:after small {
  font-variation-settings: "wght" 300;
  font-style: normal;
}
main section#app > p.user-input > span[data-mod=AM]:after a {
  display: inline-block;
  margin: 0;
}
main section#app > p.user-input > span[data-mod=PM]:after {
  content: " PM";
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem auto;
  max-width: 34rem;
  color: var(--content);
  font-variation-settings: "wght" 300;
  text-shadow: none;
}
main section#app > p.user-input > span[data-mod=PM]:after strong {
  font-variation-settings: "wght" 400;
}
main section#app > p.user-input > span[data-mod=PM]:after small {
  font-variation-settings: "wght" 300;
  font-style: normal;
}
main section#app > p.user-input > span[data-mod=PM]:after a {
  display: inline-block;
  margin: 0;
}
main section#app > p.user-input[data-entered=yes] {
  opacity: 1;
}
main section#app > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin: 1rem auto;
}
main section#app > div#map {
  width: 100%;
  height: 15rem;
  margin: 0 auto;
  border: 1px solid white;
}
main section#app > div#map a:before {
  height: 1px;
}
main section#app > div#map .mapboxgl-canvas-container {
  pointer-events: none;
}
main section#app > div#map .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
  width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  max-width: calc(100% - 20px);
}
main section#app > div label {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 4rem 1fr;
  grid-column-gap: 1rem;
  text-align: right;
  margin: 0.5rem 0;
}
main section#app > div label select {
  height: 3rem;
  border: 1px solid var(--accent);
  background: rgba(255, 255, 255, 0.7);
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-family: "Fira Mono";
  font-weight: normal !important;
}
main section#app > div label select:focus, main section#app > div label select:hover, main section#app > div label select:focus-visible, main section#app > div label select:active {
  border-color: black;
  background: white;
}
@media (min-width: 500px) {
  main section#app > div label {
    grid-template-columns: 4rem 1fr 4rem;
  }
}
@media (min-width: 768px) {
  main section#app > div {
    flex-direction: row;
  }
  main section#app > div label {
    margin: 0.5rem;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    grid-template-rows: 3rem 1rem;
    grid-row-gap: 1rem;
  }
  main section#app > div label:first-child {
    margin-left: 0;
  }
  main section#app > div label:last-child {
    margin-right: 0;
  }
  main section#app > div label span {
    grid-row-start: 2;
    text-align: center;
  }
}
main section#app a.btn,
main section#app span.btn {
  background: white;
  color: black;
  border-radius: 0.6rem;
  padding: 1rem;
  display: block;
  margin: 2rem auto 0;
  border: 1px solid var(--accent);
  transition: all 0.15s;
  position: relative;
  width: calc(100% - 2rem);
  max-width: 20rem;
  cursor: pointer !important;
  transform: scale(1);
  opacity: 1;
  transition: transform 0.3s;
  margin-top: 3rem;
}
main section#app a.btn:hover,
main section#app span.btn:hover {
  background: var(--content);
  color: white;
}
main section#app a.btn:before,
main section#app span.btn:before {
  display: none;
}
main section#app a.btn.btn--disabled,
main section#app span.btn.btn--disabled {
  position: relative;
  pointer-events: none;
}
main section#app a.btn.btn--disabled:after,
main section#app span.btn.btn--disabled:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(240, 240, 240, 0.5);
  content: "......";
  display: flex;
  align-items: center;
  justify-content: center;
}
main section#app a.btn.btn--disabled,
main section#app span.btn.btn--disabled {
  opacity: 0;
  transform: scale(0);
}
main section#app .confirm-container,
main section#app .result-container {
  padding: 0;
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.2rem;
  opacity: 0;
  transition: all 0.3s;
  border-bottom: 2px solid;
  background: var(--background-alt);
}
main section#app .confirm-container[data-ready=yes],
main section#app .result-container[data-ready=yes] {
  opacity: 1;
  padding: 2rem 0 1rem;
  height: 15rem;
}
main section#app .confirm-container .btn,
main section#app .result-container .btn {
  margin: 2rem auto !important;
}
main section#app .confirm-container h2 strong,
main section#app .result-container h2 strong {
  z-index: 10;
  position: relative;
  color: var(--content);
  transition: all 0.2s;
  letter-spacing: -0.1rem;
  color: var(--accent);
  font-size: 3rem;
  font-variation-settings: "wght" 200;
  text-transform: uppercase;
  text-shadow: -0.15rem 0.15rem 0 var(--content);
  transform: scale(0.7);
  opacity: 0;
  animation-name: tada;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes tada {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
main section#app .result-container {
  position: sticky;
  top: 11rem;
  z-index: 999;
}
main section#app .result-container a {
  align-self: center;
  margin-top: 1rem;
}
main section#app .result-container a.hide {
  display: none;
}
main section#app .result-container a span {
  font-variation-settings: "wght" 400;
}
main section#app .result-container:after {
  margin-top: 1rem;
  line-height: 1.2;
  font-size: 0.9rem;
  font-variation-settings: "wght" 350;
  content: "The Rising Sign determines the alignment of your personal astrology chart. It's the most logical sign to use when reading generalised horoscopes";
}
main section#app h3 {
  z-index: 0;
}
main section#about {
  padding-top: 2rem;
  margin-top: 3rem;
  border-top: 2px solid;
}
main section .logo {
  width: 15rem;
  height: auto;
}
main section .logo circle {
  fill: var(--background);
  opacity: 0.7;
}
main section .logo .accent {
  fill: var(--accent);
}
main section .logo .accent2 {
  fill: magenta;
}
main #privacy {
  padding-top: 3rem;
  margin-bottom: 1rem;
}
@media (min-width: 320px) {
  header h1 {
    transform: scale(0.8);
  }
}
@media (min-width: 600px) {
  header h1 {
    transform: none;
  }
  header p {
    margin-top: 4rem;
  }
}
@media (min-width: 36rem) {
  #wrapper {
    grid-template-columns: 1fr 32rem 1fr;
  }
}
@media (min-width: 60rem) {
  header {
    margin-top: 6rem;
  }
}

/*# sourceMappingURL=tools.css.map */
